


body {
    margin: 10px;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
    background: rgb(238, 198, 241);
    
}

.nav {
    width: 100%;
    height:70px;
    position: absolute;
    top:0; left:0;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: rgb(39, 10, 59);
}


a{
   
    display: flex;
  justify-content: center;
}

.logo {
    color: #ffff;
    
    font-size: 40px;
    font-weight: bold;

}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 30px;
  
}

h1{
    color: rgb(6, 18, 73);
}

.classImg {
    height: 150px;
    width: 200px;

}