
   body {
    margin: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background:ivory;
    margin:0;
    
}

/*Navigation*/

   .navbar {
    width: 100%;
    height:70px;
    position: absolute;
    top:0; left:0; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: rgb(39, 10, 59);
    
}



/*Product boxes*/

.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
   
}


.containerProduct{
    display: flex;
    justify-content: center;
    
}

#product.card{
    width: 400px;
    justify-content: center;
   
}



div.listPhotos  {
    display: flex;
   
  
   text-align: center;
 
   flex-wrap: wrap;
   justify-content: space-around;
   
}



.card {
   
    
    background-color: rgb(238, 198, 241);
    box-shadow: 1px 1px 15px #555;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
    width: 400px;
    text-align: center;
   

}


@media screen and (max-width: 800px)  {
    .card {
        width: 300px;
        font-size: 0.9em;

    }

}

h1{
    color: rgb(39, 10, 59);
    text-align: center;
}

@media screen and (max-width: 800px)  {
    h1 {
       
        font-size: 1.5em;

    }

}



.products{
   
    margin-top:0;
}


/*Images appareils photo*/

.classImg {
    padding-top: 15px;
    padding-bottom: 10px;
    height: 150px;
    width: 200px;
 
  }
 

    @media screen and (min-width: 1200px)  {
        .classImg:hover {
            cursor: zoom-in;
            transform: translateY(-9px) scale(1.2);
            transition: all 0.35s ease-in-out;

        }
  
}

/*Button*/

#link {
    /* display:block; */
    width:150px;
    line-height:50px;
    font-size: 1.3em;
    text-align:center;
    vertical-align:middle;
    background:url(images/bouton-noir.png)  no-repeat;
    color:white;
    text-decoration:none;
    transform: scale(1);
    transition: all 1s ease-in-out;
    }
    #link:hover {
    background:url(images/bouton-noir-2.png)  no-repeat;
    transform: scale(1.1);
    }


    #linkProduct{
        display:block;
        width:150px;
        line-height:50px;
        font-size: 1em;
        text-align:center;
        vertical-align:middle;
        background:url(images/bouton-noir.png)  no-repeat;
        color:white;
        text-decoration:none;
        transform: scale(1);
        transition: all 1s ease-in-out;
        }
        #linkProduct:hover {
        background:url(images/bouton-noir-2.png)  no-repeat;
        transform: scale(1.1);
        }
    }



    #presentation
    {
     position: relative;
     width: 100%;
     text-align: center;
     vertical-align: top;
     font-size:13px;
     color:#FFFFFF;
    }
    #bannerText
    {
     width: 100%;
     position: absolute;
     top: 225px;
     left: 0px;
     text-shadow: 3px 3px rgb(66, 8, 42);
     text-align: center;
     font-family: Arial, Sans-serif;
     font-size: 2.5em;
     color:#ffff;
    }

    @media screen and (max-width: 900px)  {
        #bannerText{
            top: 100px;
            font-size: 1.5em;

        }
  
}


@media screen and (max-width: 500px)  {
    #bannerText{
        top: 70px;
        font-size: 1.2em;

    }

}




.formPanier{
background-color: rgb(238, 198, 241);
box-shadow: 1px 1px 15px #555;
padding: 20px;
border-radius: 30px;
margin: 10px;

text-align: center;
justify-content: center;

}


button {
    border-color: rgb(238, 198, 241);
    border-style: none;
}


.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    text-align: center;
    border-collapse:collapse;

}

th, td {
    border:2px solid rgb(66, 8, 42);
    padding: 20px;
    }
   td {
    text-align:center;
  
    }
   caption {
    font-weight:bold
    }

a {
    color: rgb(66, 8, 42);
    font-weight: bold;
    font-size: 1em;
   
}

a:hover {
    color:  rgb(21, 1, 22);
}


.btn {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: hsl(280, 63%, 22%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6f2195", endColorstr="#43145b");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#6f2195), to(#43145b));
    background-image: -moz-linear-gradient(top, #6f2195, #43145b);
    background-image: -ms-linear-gradient(top, #6f2195, #43145b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f2195), color-stop(100%, #43145b));
    background-image: -webkit-linear-gradient(top, #6f2195, #43145b);
    background-image: -o-linear-gradient(top, #6f2195, #43145b);
    background-image: linear-gradient(#6f2195, #43145b);
    border-color: #43145b #43145b hsl(280, 63%, 18.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
    -webkit-font-smoothing: antialiased;
  }
 