
   body {
    margin: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background:ivory;
    margin:0;
    
}

/*Navigation*/

   .navbar {
    width: 100%;
    height:70px;
    position: absolute;
    top:0; left:0; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: rgb(39, 10, 59);
    
}

/*Product boxes*/

.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
   
}


.containerProduct{
    display: flex;
    justify-content: center;
    
}

#product.card{
    width: 400px;
   
}



div.listPhotos  {
    display: flex;
   
  
   text-align: center;
 
   flex-wrap: wrap;
   justify-content: space-around;
   
}



.card {
   
    
    background-color: rgb(238, 198, 241);
    box-shadow: 1px 1px 15px #555;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
    width: 400px;
    text-align: center;
  

}


@media screen and (max-width: 800px)  {
    .card {
        width: 300px;

    }

}

h1{
    color: rgb(39, 10, 59);
    text-align: center;
}

hr{
    margin: 10px auto;
    width: 50%;
    height: 2px;
    text-align: center;
    background-color: rgb(39, 10, 59);
    border: none;
  }

.products{
   
    margin-top:0;
}


/*Images appareils photo*/

.classImg {
    padding-top: 15px;
    padding-bottom: 10px;
    height: 150px;
    width: 200px;
 
  }
 

    @media screen and (min-width: 1200px)  {
        .classImg:hover {
            cursor: zoom-in;
            transform: translateY(-9px) scale(1.2);
            transition: all 0.35s ease-in-out;

        }
  
}

/*Button*/

#link {
    display:block;
    width:150px;
    line-height:50px;
    font-size: 1.3em;
    text-align:center;
    vertical-align:middle;
    background:url(images/bouton-noir.png)  no-repeat;
    color:white;
    text-decoration:none;
    transform: scale(1);
    transition: all 1s ease-in-out;
    }
    #link:hover {
    background:url(images/bouton-noir-2.png)  no-repeat;
    transform: scale(1.1);
    }


    #linkProduct{
        display:block;
        width:150px;
        line-height:50px;
        font-size: 1em;
        text-align:center;
        vertical-align:middle;
        background:url(images/bouton-noir.png)  no-repeat;
        color:white;
        text-decoration:none;
        transform: scale(1);
        transition: all 1s ease-in-out;
        }
        #linkProduct:hover {
        background:url(images/bouton-noir-2.png)  no-repeat;
        transform: scale(1.1);
        }
    }
