
   body {
    margin: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background:ivory;
    margin:0;
    
}

/*Navigation*/

   .navbar {
    width: 100%;
    height:70px;
    position: absolute;
    top:0; left:0; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: rgb(39, 10, 59);
    
}

/*Product boxes*/

.container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 30px;
  
}

.box {
    background-color: rgb(238, 198, 241);
    box-shadow: 1px 1px 15px #555;
    padding: 10px;
    border-radius: 30px;
}

h1{
    color: rgb(39, 10, 59);
    text-align: center;
}

hr{
    margin: 10px auto;
    width: 50%;
    height: 2px;
    text-align: center;
    background-color: rgb(39, 10, 59);
    border: none;
  }

.products{
   
    margin-top:0;
}


/*Images appareils photo*/

.classImg {
    padding-top: 15px;
    padding-bottom: 10px;
    height: 150px;
    width: 200px;
 
  }
 

    @media screen and (min-width: 1200px)  {
        .classImg:hover {
            cursor: zoom-in;
            transform: translateY(-9px) scale(1.2);
            transition: all 0.35s ease-in-out;

        }
  
}

/*Button*/

#link {
    display:block;
    width:150px;
    line-height:50px;
    font-size: 1.3em;
    text-align:center;
    vertical-align:middle;
    background:url(images/bouton-noir.png)  no-repeat;
    color:white;
    text-decoration:none;
    transform: scale(1);
    transition: all 1s ease-in-out;
    }
    #link:hover {
    background:url(images/bouton-noir-2.png)  no-repeat;
    transform: scale(1.1);
    }

/*Footer part*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 60px;
  
    background-color: rgb(39, 10, 59);
}



